# Backend API URL
EXPO_PUBLIC_API_URL=http://localhost:8080/api/v1

# MercadoPago public key (for hosted checkout)
EXPO_PUBLIC_MP_PUBLIC_KEY=your_mercadopago_public_key

# Google OAuth client IDs (from Google Cloud Console)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=817194673841-f4dhr18psmvt4d99gdva4sf4fbq74uc3.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=817194673841-f4dhr18psmvt4d99gdva4sf4fbq74uc3.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=817194673841-f4dhr18psmvt4d99gdva4sf4fbq74uc3.apps.googleusercontent.com
